# Node modules
node_modules/

# VSC Config files
.vscode

# Cypress cache, screenshots, and videos
cypress/cache/
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/reports/
cypress/results/
cypress/logs/

# Log files
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

# Node modules
node_modules/

# Build outputs
dist/
build/


# IDE settings
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Logs
npm-debug.log*

# Carpeta de reporte
report/